<div class="container">
    <h1>Listagem de Cordenadores</h1> <span class="pull-right"><a class="btn btn-info"
            routerLink="/collaborator-create">Registrar +</a></span>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="hasCollaboratorsEmpty">
                <td colspan="3">Nenhum registro encontrado!</td>
            </tr>

            <tr *ngFor="let collaborator of collaborators">
                <td>{{collaborator.name}}</td>
                <td>{{collaborator.email}}</td>
                <td>
                    <a class="btn btn-primary btn-sm">Editar</a>&nbsp;
                    <a class="btn btn-danger btn-sm" (click)="deleteCollaborator(collaborator.id!!)">Deletar</a>&nbsp;
                    <a class="btn btn-success btn-sm" routerLink="/collaborators-details/{{collaborator.id}}">Visualizar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>