<div class="container">
    <h1>Sobre nós - Atividades Acadêmicas</h1>
    
    <!-- Lista de Atividades e Cursos Simulados -->
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Curso de Engenharia de Software</h3>
                </div>
                <div class="panel-body">
                    Explore o mundo da Engenharia de Software neste curso abrangente. Aprenda a projetar, desenvolver e testar software de alta qualidade.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Oficina de Pintura e Arte</h3>
                </div>
                <div class="panel-body">
                    Solte sua criatividade na oficina de pintura e arte. Aprenda técnicas de pintura a óleo, aquarela e muito mais.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Seminário de Ciências Sociais</h3>
                </div>
                <div class="panel-body">
                    Participe do nosso seminário de Ciências Sociais e discuta questões contemporâneas relacionadas a sociedade, política e cultura.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Curso de Marketing Digital</h3>
                </div>
                <div class="panel-body">
                    Domine as estratégias de marketing digital neste curso. Aprenda a criar campanhas eficazes nas redes sociais e motores de busca.
                </div>
            </div>
        </div>
    </div>
  </div>