<div class="container">
    <h1>Registrar colaborador</h1>

    <div *ngIf="showErrorAlert" class="alert alert-danger" role="alert">
        Ops! Algo deu errado ao salvar o colaborador. Por favor, tente novamente mais tarde.
    </div>

    <div *ngIf="formData.get('name')?.invalid && formData.get('name')?.touched" class="alert alert-warning"
        role="alert">
        O nome e um campo obrigatório!
    </div>

    <div *ngIf="formData.get('email')?.invalid && formData.get('email')?.touched" class="alert alert-warning"
        role="alert">
        O email inválido!
    </div>

    <div *ngIf="formData.get('valueHour')?.invalid && formData.get('valueHour')?.touched" class="alert alert-warning"
        role="alert">
        O valor hora e um campo obrigatório!
    </div>

    <form class="form-horizontal" [formGroup]="formData" (ngSubmit)="addCollaborator()">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Nome *</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" formControlName="name" placeholder="Digite seu nome">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email *</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" formControlName="email"
                    placeholder="Digite seu email">
            </div>
        </div>
        <fieldset>
            <legend>Endereço</legend>
            <div class="form-group">
                <label for="zipCode" class="col-sm-2 control-label">CEP *</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="zipCode" formControlName="zipCode"
                        placeholder="Digite seu CEP" (focusout)="getZipCodeData()">
                </div>
            </div>
            <div class="form-group">
                <label for="publicPlace" class="col-sm-2 control-label">Logradouro *</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="publicPlace" formControlName="publicPlace"
                        placeholder="Digite seu logradouro">
                </div>
            </div>
            <div class="form-group">
                <label for="neighborhood" class="col-sm-2 control-label">Bairro *</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="neighborhood" formControlName="neighborhood"
                        placeholder="Digite seu bairro">
                </div>
            </div>
            <div class="form-group">
                <label for="city" class="col-sm-2 control-label">Cidade *</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="city" formControlName="city"
                        placeholder="Digite seu cidade">
                </div>
            </div>
            <div class="form-group">
                <label for="state" class="col-sm-2 control-label">Estado *</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="state" formControlName="state"
                        placeholder="Digite seu estado">
                </div>
            </div>
            <div class="form-group">
                <label for="complement" class="col-sm-2 control-label">Complemento *</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="complement" formControlName="complement"
                        placeholder="Digite o complemento">
                </div>
            </div>
            <div class="form-group">
                <label for="number" class="col-sm-2 control-label">Numero *</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="number" formControlName="number"
                        placeholder="Digite seu numero">
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Dados profissionais</legend>
            <div class="form-group">
                <label for="valueHour" class="col-sm-2 control-label">Valor Hora *</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="valueHour" formControlName="valueHour"
                        placeholder="Digite o valor por hora">
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </form>
</div>